@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --VeryDarkBlue1: hsl(230, 17%, 14%);
    --VeryDarkBlue2: hsl(232, 19%, 15%);
    --DarkDesaturatedBlue: hsl(228, 28%, 20%);
    --DesaturatedBlue: hsl(228, 34%, 66%);
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --LightGrayishBlue: hsl(227, 47%, 96%);
    --DarkGrayishBlue: hsl(228, 12%, 44%);
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --YouTube: hsl(348, 97%, 39%);
}

body{
    font-family: 'Inter';
    background-color: var(--VeryDarkBlue1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container_top{
    display: flex;
    gap: 30px;
}

h1{
    font-size: 28px;
}

header{
    display: flex;
    margin-top: 175px;
    margin-bottom: 45px;
}

header h2{
    color: var(--DesaturatedBlue);
    font-size: 13.5px;
    margin-top: 5px;
}

header h3{
    color: var(--DesaturatedBlue);
    font-size: 15px;
    margin-top: 2px;
    margin-right: 10px;
}

button{
    cursor: pointer;
}

.dark{
    display: flex;
    margin-left: 635px;
}

.dark:hover h3{
    color: white;
}

button{
    width: 47px;
    height: 25px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    padding: 3px 3px;
}

.circle{
    background-color: var(--DarkDesaturatedBlue);
    width: 18.5px;
    height: 18.5px;
    border-radius: 50px;
    float: left;
}

.container_bot{
    display: wrap;
    flex-wrap: wrap;
    margin-top: 25px;
}

.fb_follow, .twitter_follow, .insta_follow, .ytb_follow, .fb_views, .fb_likes, .insta_likes, .insta_views, .twitter_retweets, .twitter_likes, .ytb_likes, .ytb_views{
    background-color: var(--DarkDesaturatedBlue);
    cursor: pointer;
}

.fb_follow:hover, .twitter_follow:hover, .insta_follow:hover, .ytb_follow:hover, .fb_views:hover, .fb_likes:hover, .insta_likes:hover, .insta_views:hover, .twitter_retweets:hover, .twitter_likes:hover, .ytb_likes:hover, .ytb_views:hover{
    background-color: var(--DarkGrayishBlue);
}

.fb_follow, .twitter_follow, .insta_follow, .ytb_follow{
    text-align: center;
    width: 250px;
    height: 215px;
    border-radius: 5px;
}

.fb_follow h3, .twitter_follow h3, .insta_follow h3, .ytb_follow h3{
    color: var(--DesaturatedBlue);
    font-size: 13px;
    margin-top: 2px;
}

.fb_follow h2, .twitter_follow h2, .insta_follow h2, .ytb_follow h2{
    font-size: 55px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.fb_follow h4, .twitter_follow h4, .insta_follow h4, .ytb_follow h4{
    font-weight: 250;
    font-size: 11px;
    letter-spacing: 6px;
}

.fb_follow p, .twitter_follow p, .insta_follow p, .ytb_follow p{
    font-size: 11.5px;
    font-weight: bold;
}

.fb_follow{
    border-top: 4px solid var(--Facebook);
}

.twitter_follow{
    border-top: 4px solid var(--Twitter);
}

.insta_follow{
  position: relative;
  overflow: hidden;
}

.insta_follow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--Instagram);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.ytb_follow{
    border-top: 4px solid var(--YouTube);
}

.fb_views, .fb_likes, .insta_likes, .insta_views, .twitter_retweets, .twitter_likes, .ytb_likes, .ytb_views{
    width: 250px;
    height: 125px;
}

.top{
    display: flex;
    margin-top: 28px;
    margin-left: 80px;
}

.top_insta{
    display: flex;
    margin-top: 28px;
    margin-left: 68px;
}

.bot_green{
    display: flex;
    justify-content: center;
    color: var(--LimeGreen);
    margin-top: 27px;
}

.bot_red{
    display: flex;
    justify-content: center;
    color: var(--BrightRed);
    margin-top: 27px;
}

.icon_fb_1, .icon_twitter_1, .icon_insta_1, .icon_ytb_1{
    margin-right: 8px;
}

.icon_up{
    width: 8px;
    height: 4px;
    margin-right: 5px;
    margin-top: 4.5px;
}

.icon_down{
    width: 8px;
    height: 4px;
    margin-right: 5px;
    margin-top: 4.5px;
}

.center h2{
    margin-top: 45px;
    font-size: 23px;
}

.container_bot_line_1, .container_bot_line_2{
    display: flex;
    gap: 30px;
}

.container_bot_line_2{
    margin-top: 25px;
}

.fb_views, .fb_likes, .insta_likes, .insta_views, .twitter_retweets, .twitter_likes, .ytb_likes, .ytb_views{
    border-radius: 5px;
    padding: 25px 20px;
}

.fb_views h3, .fb_likes h3, .insta_likes h3, .insta_views h3, .twitter_retweets h3, .twitter_likes h3, .ytb_likes h3, .ytb_views h3{
    font-size: 13px;
    color: var(--DesaturatedBlue);
    letter-spacing: 1px;
}

.fb_views h2, .fb_likes h2, .insta_likes h2, .insta_views h2, .twitter_retweets h2, .twitter_likes h2, .ytb_likes h2, .ytb_views h2{
    font-size: 30px;
    letter-spacing: 2px;
}

.fb_views h4, .insta_likes h4, .insta_views h4, .twitter_retweets h4, .twitter_likes h4{
    color: var(--LimeGreen);
    margin-top: 16px;
    font-size: 11px;
}

.fb_likes h4, .ytb_likes h4, .ytb_views h4{
    color: var(--BrightRed);
    margin-top: 16px;
    font-size: 11px;
}

.top_2{
    display: flex;
}

.bot_2{
    display: flex;
    margin-top: 25px;
}

.icon_up_2{
    width: 8px;
    height: 4px;
    margin-top: 11px;
}

.icon_down_2{
    width: 8px;
    height: 4px;
    margin-top: 21px;
}

.fb_views .icon_up_2{
    margin: 21px 3px 0 130px;
}

.fb_likes .icon_down_2{
    margin: 21px 3px 0 129px;
}

.insta_likes .icon_up_2{
    margin: 21px 3px 0 65px;
}

.insta_views .icon_up_2{
    margin: 21px 3px 0 92.5px;
}

.twitter_retweets .icon_up_2{
    margin: 21px 3px 0 108px;
}

.twitter_likes .icon_up_2{
    margin: 21px 3px 0 93px;
}

.ytb_likes .icon_down_2{
    margin: 21px 3px 0 109px;
}

.ytb_views .icon_down_2{
    margin: 21px 3px 0 88px;
}

.icon_fb_2, .icon_ytb_3{
    margin-left: 95px;
}

.icon_fb_3, .icon_insta_2, .icon_twitter_3, .icon_ytb_2{
    margin-left: 140px;
}

.icon_insta_3{
    margin-left: 82px;
}

.icon_twitter_2{
    margin-left: 113px;
}